body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #A9A9A9;
    background: linear-gradient(139deg, rgba(69, 13, 115, 1) 0%, rgba(233, 159, 237, 1) 52%, rgba(247, 242, 247, 1) 98%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 40px;
}

/* iniciando header */

.cabeca {
    width: 94%;
    height: 106px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #A9A9A9;
}
.cabeca .countainer-header{
    width: 99%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cabeca .countainer-img a{
    text-decoration: none;
}

.cabeca .countainer-link{
    width: 59%;
    display: flex;
    justify-content: flex-start;
    align-items: center
}
.cabeca .countainer-link ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    gap: 55px;
}
.cabeca .countainer-link ul li a{
    color: #D9D9D9;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.35s ease;
}
.cabeca .countainer-link ul li a:hover{
    font-size: 22px;
    color: #3B2E41;
}
.cadastro-login{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cadastro-login ul{
    display: flex;
    list-style: none;
    justify-content:flex-start;
    align-items: center;
    gap: 20px;
}
.cadastro-login ul li a{
    color: #D9D9D9;
    text-decoration: none;
    font-size: 21px;
}
.login{
    padding: 7px 30px;
    background-color: #793996;
    border-radius: 8px;
    transition: all 0.4s ease;
}
.login:hover{
    color: #793996;
    background: none;
    border: 1px solid #793996;
}
.cadastro{
    padding: 7px 25px;
    background-color: #931896;
    border-radius: 8px;
    transition: all 0.4s ease;
}
.cadastro:hover{
    color: #931896;
    background: none;
    border: 1px solid #931896;
}

.cabeca .input{
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #400759;
    border-radius: 50px;
    padding: 4px;
}
.cabeca .input .pesquisa{
    padding: 0;
    width: 0px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background: none;
    outline: none;
    font-size: 15px;
    color: #5C3B6B; 
    font-size: 15.5px;
    transition: all 0.4s ease;
}

.cabeca .input:hover > .pesquisa {
    width: 150px;
}

.cabeca .input .pesquisa::placeholder{
    font-weight: bold;
}
.cabeca .input .btn-pesquisa{
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    margin: 0;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cabeca .input .btn-pesquisa img{
    border: none;
}

.countainer{
    width: 26%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 8px;
}
.menu {
    width: 256px;
    height: 80vh;
    background: linear-gradient(-139deg, #902AC0 50%, #a153c5 66%);
    border-radius: 10px;
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
    flex-direction: row;
    justify-content: baseline;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}
.menu.mostrando {
    transform: translateX(0);
    opacity: 1;
    display: flex;
    flex-direction: row;
}

.menu ul{
    width: 80%;
    margin: 20px;
    margin-top: 35px;
    margin-left: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 25px;
    font-size: 24px;
    color: #D9D9D9;
    text-decoration: none;
    list-style: none;
    text-align: left;
}
.menu ul li{
    width: 100%;
    border-bottom: 2px solid #D9D9D9;
}
.menu ul li a{
    text-decoration: none;
    color: #D9D9D9;
    transition: all 0.35s ease;
}
.menu ul li a:hover{
    color: #3B2E41;
}
.login-cadastro-menu{
    display: none;
}

.countainer .btn-menu-sanduiche {
    position:static;    
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    background: none;
    /* transform: rotate(90deg); */
}
.countainer .btn-menu-sanduiche:hover{
    padding: 4px;
    background-color: #793996;;
    border-radius: 100px;
}

.countainer .btn-menu-sanduiche span{
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-direction: column;
}
.countainer
.menu-sanduiche {
    width: 22px;
    height: 1px;
    border-radius: 50px;
    border: 2px solid #510369;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #510369;
}

.btn-fechar-menu{
    width: 55px;
    height: 55px;
    background: none;
    border: none;
    cursor: pointer;
}

/*fechando HEADER*/

/* botão ajuda */
.ajuda{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    margin: 0 20px 20px 0;
}
.ajuda .btn-ajuda{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    background-color: #3B2E41;
    border-radius: 100px;
}

/*fechando botão ajuda*/


/*Top-button*/
.top{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    margin: 0 18px 84px 0;
}
.top .top-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 13px;
    background-color: #3B2E41;
    border-radius: 100px;
}
/*fechamento do Top-button*/

/*inicinado MAIN*/
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.sobre{
    width: 83%;
    height: 78.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 42px;
    border-radius: 100px;
    border-bottom: 2px solid #510369;
}

.sobre .textos{
    width: 55%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
}

.sobre .textos .h1{
    width: 100%;
    height: 50px;
    margin-bottom: 0;
    text-align: left;
    font-size: 23px;
}

.sobre .paragrafos{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 6px;
    width: 100%;
    font-size: 17px;
}


/*     mapa     */
.localizacao{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
}
.countainer-loc{
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.input-cep{
    background-color: #3B2E41;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50px;
}
.input-cep .cep{
    border: none;
    background: none;
    outline: none;
    color: #D9D9D9;
}
.input-cep .cep::placeholder{
    color: #5C3B6B;
}
iframe{
    width: 70%;
    height: 80vh;
}

/*     fecha mapa     */


/*     avaliacoes     */
.avaliacoes{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.countainer-avaliacoes{
    width: 70%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.box-avaliacoes{
    width: 340px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    border: 2px solid #510369   ;
    background-color: #902AC0;
    border-radius: 20px;
}
.box-avaliacoes p{
    width: 80%;
    font-size: 17px;
}
.box-avaliacoes section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.foto-paciente{
    border-radius: 100px;
}
.paciente-1{
    width: 300px;
    height: 60vh;
}
.paciente-1 p{
    width: 70%;
    font-size: 14px;
}
.paciente-1 section{
    height: 6vh;
}
.paciente-1 section img{
    width: 40px;
    height: 40px;
}
.paciente-3{
    width: 300px;
    height: 60vh;
}
.paciente-3 p{
    width: 70%;
    font-size: 14px;
}
.paciente-3 section{
    height: 6vh;
}
.paciente-3 section img{
    width: 40px;
    height: 40px;
}
.countainer-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*     fecha avaliacoes     */

/*rodape*/
.rodape{
    color:#f3e4fd;
    background-color: #793996;
    font-size: 1.2rem;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.rodape .social-links{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0%;
    margin: 0%;
    list-style: none;
}
.rodape li a img{
    width: 5rem;
    height: 5rem;
}
.countainer-contatos{
    display: flex;
    justify-content: center;
    padding: 0%;
    margin: 0%;
}
.countainer-contatos p{
    margin: 0rem 1rem 2rem 0rem;
}
/*fecha rodape*/