body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #A9A9A9;
    background: linear-gradient(139deg, rgb(69, 13, 115) 0%, rgba(233, 159, 237, 1) 52%, rgba(247, 242, 247, 1) 98%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 2.5rem;
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden; 
    height: 100vh;     
}


.img-reabilita {
    margin-top: 13rem;
    width: 15rem;
    height: auto;
}

.cabeca {
    width: 94%;
    height: 6.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 17%;
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1.875rem;
    margin: 1.625rem;
}

.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.875rem;
    gap: 1.25rem;
    margin-bottom: 2rem;
}

.login {
    width: 100%;
    height: 78.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 2.625rem;
    border-radius: 6.25rem;   
}

.conta-txt {
    text-align: center;
    color:#3B2E41;
    letter-spacing: 0.25rem;
    font-weight: bold;
    margin-top: 8rem;
    font-size: 2.65rem;
}

.input-cpf,
.input-senha {
    width: 15rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    height: 3rem;
    padding: 0 0.9375rem;
    border-radius: 3.125rem;
    font-size: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.exp-input {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.25rem;
    text-align: center;
    color: #3B2E41;
}

.esqueceu-senha {
    margin-top: -0.5rem;
}

.esqueceu-senha a {
    color: #c173e6;
    font-size: 0.875rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.esqueceu-senha a:hover {
    color: #510369;
    text-decoration: underline;
}

/*botão entrar*/
.btn-entrar {
    justify-content: center;
    align-items: center;
    background-color: #3B2E41;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1.25rem;
    transition: all 0.4s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-entrar:hover {
    background-color: #ae00ff00;
}
/*fechando botão entrar*/

/* botão ajuda */
.ajuda {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    margin: 0 1.25rem 1.25rem 0;

}

.ajuda .btn-ajuda {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0.625rem;
    background-color: #3B2E41;
    border-radius: 6.25rem;
}

.icon-ajuda{
    width: 2rem;
    height: auto;
}

/* fechando botão ajuda */
.second-background {
    width: 62.5rem;
    height: 31.25rem;
    background-color: #D9D9D9;
    margin: 1.25rem;
    padding: 1.25rem;
    border-radius: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0rem 0.25rem 0.4375rem black;
}

/* responsividade */
@media (max-width: 48rem) {
    .cabeca {
        flex-direction: column;
        height: auto;
        padding: 0.625rem 0;
    }

    .cabeca .countainer-img {
        width: 90%;
        margin: 0.625rem auto;
        flex-wrap: wrap;
    }

    .countainer {
        width: 90%;
        margin: 0.625rem auto;
        flex-direction: column;
        align-items: center;
        gap: 0.625rem;
    }

    .cabeca .input {
        width: 100%;
        max-width: 18.75rem;
        justify-content: space-between;
    }

    .cabeca .input .pesquisa {
        width: 70%;
    }
}
